name: flutter_next_auth_example
description: Example app demonstrating flutter_next_auth package
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_next_auth:
    path: ../

flutter:
  uses-material-design: true
